.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    margin: 0;
    border: 1px solid #ccc;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 10px;
}

.dNone {
    display: none !important;
}

.mr10 {
    margin-right: 10px !important;
}

.container {
    display: flex;
    align-items: center;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    margin: 0;
}

.pointer {
    cursor: pointer;
}

.textContainer {
    position: relative;
    padding-right: 150px;
}

.editTitle {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 150px;

    display: flex;
    justify-content: flex-end;
}